<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
   

    <!-- Content Row -->
    <div class="row">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Upload inovice CSV !</h6>
        </div>
        <div class="card-body">
          <form role="form" id="upload_csv_invoices" method="POST" action="">
            <div class="form-group">
                <label>Select csv file.</label>
                <input class="form-control" type="file" id="invoice_csv" accept=".csv, application/vnd.ms-excel" name="invoice_csv"/>
            </div>
            <div class="form-group">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Upload</h1>
                    <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-upload fa-sm text-white-50"></i> Upload Report</button>
                  </div>
            </div>
            <div class="from-group">
              <label>Upload Progress</label>
              <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="container-fluid">
         <!-- DataTales Example -->
      <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Invoices Grid</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="invoice_datatable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th>id</th>
                      <th>Amount</th>
                      <th>Due Date</th>
                      <th>Selling Price</th>
                    </tr>
                </thead>
                <tbody>
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Validation Errors</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- body content html here.... -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <!-- /.container-fluid -->